{
  "swagger": "2.0",
  "info": {
    "version": "V3.0",
    "title": "Tridion CoreService Rest API",
    "x-swagger-net-version": "8.4.6.201"
  },
  "host": "sites.tridiondemo.com",
  "basePath": "/api",
  "schemes": [
    "http"
  ],
  "paths": {
    "/v3.0/appData/applicationIds": {
      "get": {
        "tags": [
          "ApplicationData"
        ],
        "summary": "Gets all Application IDs used for Application Data",
        "description": "\n\n",
        "operationId": "GetApplicationIds",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/appData/global": {
      "get": {
        "tags": [
          "ApplicationData"
        ],
        "summary": "Gets global Application Data",
        "description": "This operation returns an instance of 'ApplicationData' type.\n\n",
        "operationId": "GetGlobalAppData",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "query",
            "description": "The Application ID for which to obtain Application Data. If not specified, all global Application Data is returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "items": {
                "$ref": "#/definitions/ApplicationData"
              },
              "xml": {
                "name": "ApplicationData",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      },
      "post": {
        "tags": [
          "ApplicationData"
        ],
        "summary": "Saves global Application Data",
        "description": "\n\n",
        "operationId": "SaveGlobalAppData",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationData",
            "in": "body",
            "description": "The Application Data objects to save.",
            "required": true,
            "schema": {
              "items": {
                "$ref": "#/definitions/ApplicationData"
              },
              "xml": {
                "name": "ApplicationData",
                "wrapped": true
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful and there is no content in the body of the response."
          },
          "400": {
            "description": "The request data is invalid."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      },
      "delete": {
        "tags": [
          "ApplicationData"
        ],
        "summary": "Deletes global Application Data",
        "description": "\n\n",
        "operationId": "DeleteGlobalAppData",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "query",
            "description": "The Application ID of the Application Data to delete. If not specified, all global Application Data is deleted.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful and there is no content in the body of the response."
          },
          "400": {
            "description": "The request data is invalid."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/appData/{escapedItemId}": {
      "get": {
        "tags": [
          "ApplicationData"
        ],
        "summary": "Gets Application Data related to a specified item",
        "description": "This operation returns an instance of 'ApplicationData' type.\n\n",
        "operationId": "GetAppDataForSubject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "escapedItemId",
            "in": "path",
            "description": "The URI of an item with the colon escaped by replacing it with an underscore. E.g. \"tcm_0-1-1\".",
            "required": true,
            "type": "string"
          },
          {
            "name": "applicationId",
            "in": "query",
            "description": "The Application ID for which to obtain Application Data. If not specified, all Application Data related to the specified item is returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "items": {
                "$ref": "#/definitions/ApplicationData"
              },
              "xml": {
                "name": "ApplicationData",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      },
      "post": {
        "tags": [
          "ApplicationData"
        ],
        "summary": "Saves Application Data related to a specified item",
        "description": "\n\n",
        "operationId": "SaveAppDataForSubject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "escapedItemId",
            "in": "path",
            "description": "The URI of an item with the colon escaped by replacing it with an underscore. E.g. \"tcm_0-1-1\".",
            "required": true,
            "type": "string"
          },
          {
            "name": "applicationData",
            "in": "body",
            "description": "The Application Data objects to save.",
            "required": true,
            "schema": {
              "items": {
                "$ref": "#/definitions/ApplicationData"
              },
              "xml": {
                "name": "ApplicationData",
                "wrapped": true
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful and there is no content in the body of the response."
          },
          "400": {
            "description": "The request data is invalid."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      },
      "delete": {
        "tags": [
          "ApplicationData"
        ],
        "summary": "Deletes Application Data related to a specified item",
        "description": "\n\n",
        "operationId": "DeleteAppDataForSubject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "escapedItemId",
            "in": "path",
            "description": "The URI of an item with the colon escaped by replacing it with an underscore. E.g. \"tcm_0-1-1\".",
            "required": true,
            "type": "string"
          },
          {
            "name": "applicationId",
            "in": "query",
            "description": "The Application ID of the Application Data to delete. If not specified, all Application Data related to the specified item is deleted.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful and there is no content in the body of the response."
          },
          "400": {
            "description": "The request data is invalid."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/batch/copy": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Copies a batch of items.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchCopy",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchCopyRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/batch/move": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Moves a batch of items.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchMove",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchCopyOrMoveRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/batch/delete": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Deletes a batch of items.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchDelete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchOperationRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/batch/demote": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Demotes a batch of items.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchDemote",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchPromoteDemoteRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/batch/checkIn": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Checks in a batch of items.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchCheckIn",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchCheckInRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/batch/promote": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Promotes a batch of items.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchPromote",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchPromoteDemoteRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/batch/publish": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Publishes a batch of items.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchPublish",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchPublishRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/batch/checkOut": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Checks out a batch of items.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchCheckOut",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchCheckOutRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/batch/classify": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Classifies a batch of items.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchClassify",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchClassifyOrUnClassifyRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        },
        "deprecated": true
      }
    },
    "/v3.0/batch/localize": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Localizes a batch of items.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchLocalize",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchOperationRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/batch/unpublish": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Unpublishes a batch of items.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchUnpublish",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchUnPublishRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/batch/unclassify": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Unclassifies a batch of items.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchUnclassify",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchClassifyOrUnClassifyRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        },
        "deprecated": true
      }
    },
    "/v3.0/batch/unlocalize": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Unlocalizes a batch of items.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchUnlocalize",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchOperationRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/batch/autoClassify": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Automatically classifies a batch of items.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchAutoClassify",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchAutoClassifyRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/batch/undoCheckOut": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Undoes the checkout of a batch of items.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchUndoCheckOut",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchUndoCheckOutRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/batch/startActivity": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Starts a batch of activities.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchStartActivity",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchOperationRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/batch/classification": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Changes the classification of a batch of items (Classify/ReClassify/UnClassify).",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchClassification",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchClassificationRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/batch/finishActivity": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Finishes a batch of activities.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchFinishActivity",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchFinishActivityRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/batch/restartActivity": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Restarts a batch of activities.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchRestartActivity",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchOperationRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/batch/reassignActivity": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Reassignes a batch of activities.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchReAssignActivity",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchReAssignActivityRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/batch/forceFinishProcess": {
      "post": {
        "tags": [
          "BatchOperations"
        ],
        "summary": "Force finishes a batch of Workflow Processes.",
        "description": "This operation returns an instance of 'BatchOperationCreationResult' type.\n\n",
        "operationId": "BatchForceFinishProcess",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchForceFinishRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BatchOperationCreationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/items/{escapedItemId}/binary/download": {
      "get": {
        "tags": [
          "Binaries"
        ],
        "summary": "Downloads the binary content of a Multimedia Component as a file.",
        "description": "\n\n",
        "operationId": "DownloadItemBinary",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "escapedItemId",
            "in": "path",
            "description": "The URI of an item with the colon escaped by replacing it with an underscore. E.g. \"tcm_0-1-1\".",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/binary/download": {
      "get": {
        "tags": [
          "Binaries"
        ],
        "summary": "Downloads the temporary file for a binary file that was previously uploaded.",
        "description": "\n\n",
        "operationId": "DownloadFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "tempFileId",
            "in": "query",
            "description": "The temporary ID of a binary file that was previously uploaded with an upload request. The ID can be found in the model returned by the request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "filename",
            "in": "query",
            "description": "The name to give to the download file.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "type": "object"
            }
          },
          "304": {
            "description": "The requested content was not modified."
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/items/{escapedItemId}/binary/thumbnail": {
      "get": {
        "tags": [
          "Binaries"
        ],
        "summary": "Gets the thumbnail image for the binary content contained in a specified Multimedia Component.",
        "description": "\n\n",
        "operationId": "GetItemBinaryThumbnail",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "escapedItemId",
            "in": "path",
            "description": "The URI of an item with the colon escaped by replacing it with an underscore. E.g. \"tcm_0-1-1\".",
            "required": true,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "Resize an image binary to the specified width in pixels.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "height",
            "in": "query",
            "description": "Resize an image binary to the specified height in pixels.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "type": "object"
            }
          },
          "304": {
            "description": "The requested content was not modified."
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/binary/thumbnail": {
      "get": {
        "tags": [
          "Binaries"
        ],
        "summary": "Gets the thumbnail image of an uploaded binary file (or the multimedia type icon when no thumbnail is available).",
        "description": "\n\n",
        "operationId": "GetFileThumbnail",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "tempFileId",
            "in": "query",
            "description": "The temporary ID of a binary file that was previously uploaded with an upload request. The ID can be found in the model returned by the request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileExtension",
            "in": "query",
            "description": "The extension of the uploaded binary file (excluding the leading dot).",
            "required": true,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "Resize an image binary to the specified width in pixels. Default value is 0.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "height",
            "in": "query",
            "description": "Resize an image binary to the specified height in pixels. Default value is 0.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "type": "object"
            }
          },
          "304": {
            "description": "The requested content was not modified."
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/binary/upload": {
      "post": {
        "tags": [
          "Binaries"
        ],
        "summary": "Uploads a single binary file.",
        "description": "This operation returns an instance of 'BinaryUploadResponse' type.\n\n",
        "operationId": "Upload",
        "consumes": [
          "application/json",
          "application/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "File for uploading",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing has not been completed.",
            "schema": {
              "$ref": "#/definitions/BinaryUploadResponse"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "413": {
            "description": "The request size is bigger than the allowed limit set on the web-server."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/items/{escapedFolderId}/upload": {
      "post": {
        "tags": [
          "Binaries"
        ],
        "summary": "Uploads a single binary file and creates a multimedia component.",
        "description": "This operation returns an instance of 'Component' type.\n\nThe method doesn't support creating of the component based on the multimedia schema having required metadata fields with no default values.",
        "operationId": "UploadMultimediaComponent",
        "consumes": [
          "application/json",
          "application/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "File for uploading",
            "required": true,
            "type": "file"
          },
          {
            "name": "escapedFolderId",
            "in": "path",
            "description": "The TCM URI of a Folder. Escape the colon by replacing it with an underscore. E.g. \"tcm_1-1-2\"",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "The title of the component. The name of the file is used when not specified.",
            "required": false,
            "type": "string"
          },
          {
            "name": "multimediaSchemaId",
            "in": "query",
            "description": "TCM URI of a multimedia schema. Default multimedia schema is used when not specified.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "The request has completed and has resulted in one or more new resources being created.",
            "schema": {
              "$ref": "#/definitions/Component"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "409": {
            "description": "The request could not be completed due to a conflict with the current state of the target resource."
          },
          "413": {
            "description": "The request size is bigger than the allowed limit set on the web-server."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/items/{escapedItemId}/bluePrintHierarchy": {
      "get": {
        "tags": [
          "BluePrinting"
        ],
        "summary": "Gets the context of an item in the BluePrint hierarchy.",
        "description": "This operation returns an instance of 'BlueprintHierarchyResponse' type.\n\n",
        "operationId": "GetBluePrintHierarchy",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "escapedItemId",
            "in": "path",
            "description": "The URI of an item with the colon escaped by replacing it with an underscore. E.g. \"tcm_0-1-1\".",
            "required": true,
            "type": "string"
          },
          {
            "name": "details",
            "in": "query",
            "description": "Specifies the level of details of the returned BluePrint nodes.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ListDetails"
            },
            "type": "string",
            "default": "Contentless",
            "enum": [
              "IdAndTitleOnly",
              "WithApplicableActions",
              "Contentless"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/BlueprintHierarchyResponse"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/items/{escapedItemId}/demote": {
      "post": {
        "tags": [
          "BluePrinting"
        ],
        "summary": "Demotes an item in the BluePrint hierarchy.",
        "description": "This operation returns an instance of 'OperationResult' type.\n\n",
        "operationId": "Demote",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "escapedItemId",
            "in": "path",
            "description": "The URI of an item with the colon escaped by replacing it with an underscore. E.g. \"tcm_0-1-1\".",
            "required": true,
            "type": "string"
          },
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PromoteDemoteRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The request has completed and has resulted in one or more new resources being created.",
            "schema": {
              "$ref": "#/definitions/OperationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/items/{escapedItemId}/promote": {
      "post": {
        "tags": [
          "BluePrinting"
        ],
        "summary": "Promotes an item in the BluePrint hierarchy.",
        "description": "This operation returns an instance of 'OperationResult' type.\n\n",
        "operationId": "Promote",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "escapedItemId",
            "in": "path",
            "description": "The URI of an item with the colon escaped by replacing it with an underscore. E.g. \"tcm_0-1-1\".",
            "required": true,
            "type": "string"
          },
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PromoteDemoteRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The request has completed and has resulted in one or more new resources being created.",
            "schema": {
              "$ref": "#/definitions/OperationResult"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/items/{escapedItemId}/localize": {
      "post": {
        "tags": [
          "BluePrinting"
        ],
        "summary": "Localizes a shared item in the BluePrint to create a local copy that can then be modified locally.",
        "description": "This operation returns an instance of 'RepositoryLocalObject' type, as implemented by one of the following:<ul class=\"model-list\"><li><span>Bundle</span></li><li><span>BusinessProcessType</span></li><li><span>Category</span></li><li><span>Component</span></li><li><span>ComponentTemplate</span></li><li><span>ExternalCategory</span></li><li><span>ExternalComponent</span></li><li><span>ExternalContainer</span></li><li><span>ExternalKeyword</span></li><li><span>Folder</span></li><li><span>Keyword</span></li><li><span>Page</span></li><li><span>PageTemplate</span></li><li><span>ResolvedBundle</span></li><li><span>Schema</span></li><li><span>SearchFolder</span></li><li><span>StructureGroup</span></li><li><span>TargetGroup</span></li><li><span>TemplateBuildingBlock</span></li><li><span>TridionProcessDefinition</span></li></ul>\n\n",
        "operationId": "Localize",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "escapedItemId",
            "in": "path",
            "description": "The URI of an item with the colon escaped by replacing it with an underscore. E.g. \"tcm_0-1-1\".",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "The request has completed and has resulted in one or more new resources being created.",
            "schema": {
              "$ref": "#/definitions/RepositoryLocalObject"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/items/{escapedItemId}/unlocalize": {
      "post": {
        "tags": [
          "BluePrinting"
        ],
        "summary": "Unlocalizes an item in the BluePrint.",
        "description": "This operation returns an instance of 'RepositoryLocalObject' type, as implemented by one of the following:<ul class=\"model-list\"><li><span>Bundle</span></li><li><span>BusinessProcessType</span></li><li><span>Category</span></li><li><span>Component</span></li><li><span>ComponentTemplate</span></li><li><span>ExternalCategory</span></li><li><span>ExternalComponent</span></li><li><span>ExternalContainer</span></li><li><span>ExternalKeyword</span></li><li><span>Folder</span></li><li><span>Keyword</span></li><li><span>Page</span></li><li><span>PageTemplate</span></li><li><span>ResolvedBundle</span></li><li><span>Schema</span></li><li><span>SearchFolder</span></li><li><span>StructureGroup</span></li><li><span>TargetGroup</span></li><li><span>TemplateBuildingBlock</span></li><li><span>TridionProcessDefinition</span></li></ul>\n\n",
        "operationId": "Unlocalize",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "escapedItemId",
            "in": "path",
            "description": "The URI of an item with the colon escaped by replacing it with an underscore. E.g. \"tcm_0-1-1\".",
            "required": true,
            "type": "string"
          },
          {
            "name": "useDynamicVersion",
            "in": "query",
            "description": "Loads a dynamic version (if available for the current user)",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/RepositoryLocalObject"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/items/{escapedKeywordId}/classifiedItems": {
      "get": {
        "tags": [
          "Classification"
        ],
        "summary": "Gets a list of all items that are classified with a specified Keyword (internal) or Concept (external).",
        "description": "This operation returns an instance of 'RepositoryLocalObject' type, as implemented by one of the following:<ul class=\"model-list\"><li><span>Bundle</span></li><li><span>BusinessProcessType</span></li><li><span>Category</span></li><li><span>Component</span></li><li><span>ComponentTemplate</span></li><li><span>ExternalCategory</span></li><li><span>ExternalComponent</span></li><li><span>ExternalContainer</span></li><li><span>ExternalKeyword</span></li><li><span>Folder</span></li><li><span>Keyword</span></li><li><span>Page</span></li><li><span>PageTemplate</span></li><li><span>ResolvedBundle</span></li><li><span>Schema</span></li><li><span>SearchFolder</span></li><li><span>StructureGroup</span></li><li><span>TargetGroup</span></li><li><span>TemplateBuildingBlock</span></li></ul>\n\n",
        "operationId": "GetClassifiedItems",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "escapedKeywordId",
            "in": "path",
            "description": "The URI of a Keyword or Concept with the colon escaped by replacing it with an underscore. E.g. \"tcm_1-1-1024\"",
            "required": true,
            "type": "string"
          },
          {
            "name": "useDynamicVersion",
            "in": "query",
            "description": "Loads a dynamic version (if available for the current user)",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "rloItemTypes",
            "in": "query",
            "description": "The item types of all repository-local objects that you want to include in the response.",
            "required": false,
            "items": {
              "$ref": "#/definitions/RLOItemType",
              "type": "string"
            },
            "collectionFormat": "multi",
            "type": "array"
          },
          {
            "name": "resolveDescendantKeywords",
            "in": "query",
            "description": "A boolean value to indicate whether to include descendant keywords in the results.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "resultLimit",
            "in": "query",
            "description": "An integer value to limit the number of items returned in the list. Specify a positive value as the limit or -1 for no limit. Setting the value to zero will return an empty list.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 100
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "items": {
                "$ref": "#/definitions/RepositoryLocalObject"
              },
              "xml": {
                "name": "RepositoryLocalObject",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/items/{escapedItemId}/classify": {
      "post": {
        "tags": [
          "Classification"
        ],
        "summary": "Changes the classification of the specified item (Classify/ReClassify/UnClassify).",
        "description": "This operation returns an instance of 'ClassificationInfo' type.\n\n",
        "operationId": "Classify",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "escapedItemId",
            "in": "path",
            "description": "The URI of an item with the colon escaped by replacing it with an underscore. E.g. \"tcm_0-1-1\".",
            "required": true,
            "type": "string"
          },
          {
            "name": "classificationRequest",
            "in": "body",
            "description": "Specifies which Keywords/Concepts to add and/or remove from the item's classification.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClassificationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/ClassificationInfo"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/items/{escapedItemId}/autoClassify": {
      "post": {
        "tags": [
          "Classification"
        ],
        "summary": "Automatically classifies the specified item with Concepts from external taxonomy based on the current content and metadata of the item.",
        "description": "This operation returns an instance of 'ClassificationInfo' type.\n\n",
        "operationId": "AutoClassify",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "escapedItemId",
            "in": "path",
            "description": "The URI of an item with the colon escaped by replacing it with an underscore. E.g. \"tcm_0-1-1\".",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/ClassificationInfo"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/item/suggestKeywords": {
      "post": {
        "tags": [
          "Classification"
        ],
        "summary": "Get suggestions for classifying an item with concepts from an external taxonomy. Suggestions are based on the content and metadata of the source item.",
        "description": "This operation returns an instance of 'KeywordSuggestions' type.\n\n",
        "operationId": "GetKeywordSuggestions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sourceObject",
            "in": "body",
            "description": "The source item to request the keywords for.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdentifiableObject"
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "The Category identifier (ECL URI), if provided, the suggestions are given based on this category only, and rest of the specified categories (if any) in the sourceObject are ignored.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "additionalProperties": {
                "items": {
                  "$ref": "#/definitions/KeywordSuggestion"
                },
                "xml": {
                  "name": "KeywordSuggestion",
                  "wrapped": true
                },
                "type": "array"
              },
              "type": "object"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/extensions": {
      "get": {
        "tags": [
          "Extensions"
        ],
        "summary": "Gets a list of Experience Space extensions",
        "description": "This operation returns an instance of 'FrontendAddon' type.\n\n",
        "operationId": "GetExtensions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "items": {
                "$ref": "#/definitions/FrontendAddon"
              },
              "xml": {
                "name": "FrontendAddon",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "401": {},
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        },
        "deprecated": true
      }
    },
    "/v3.0/item/defaultModel/{modelType}": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Gets a default model for the specified model type. The returned model can be used for item creation.",
        "description": "This operation returns an instance of 'IdentifiableObject' type, as implemented by one of the following:<ul class=\"model-list\"><li><span>ApprovalStatus</span></li><li><span>Bundle</span></li><li><span>BusinessProcessType</span></li><li><span>Category</span></li><li><span>Component</span></li><li><span>ComponentTemplate</span></li><li><span>Folder</span></li><li><span>Group</span></li><li><span>Keyword</span></li><li><span>MultimediaType</span></li><li><span>Page</span></li><li><span>PageTemplate</span></li><li><span>Publication</span></li><li><span>Schema</span></li><li><span>SearchFolder</span></li><li><span>StructureGroup</span></li><li><span>TargetGroup</span></li><li><span>TargetType</span></li><li><span>TemplateBuildingBlock</span></li><li><span>TridionProcessDefinition</span></li><li><span>User</span></li></ul>\n\n",
        "operationId": "GetDefaultModel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "modelType",
            "in": "path",
            "description": "The type of data model that will be created.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModelType"
            },
            "type": "string",
            "enum": [
              "Bundle",
              "SearchFolder",
              "Schema",
              "Page",
              "PageTemplate",
              "Component",
              "ComponentTemplate",
              "Folder",
              "Keyword",
              "StructureGroup",
              "TemplateBuildingBlock",
              "Publication",
              "Category",
              "Group",
              "ProcessDefinition",
              "BusinessProcessType",
              "MultimediaType",
              "TargetType",
              "User",
              "TargetGroup",
              "ApprovalStatus"
            ]
          },
          {
            "name": "containerId",
            "in": "query",
            "description": "The TCM URI of the organizational item to use as a container for the specified Model Type.\r\nA container ID is required for all types except the following: Batch, Publication, PublicationTarget, PublishTransaction, TargetType, MultimediaType, WorkflowType, User, Group, and ApprovalStatus.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/IdentifiableObject"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/items/{escapedItemId}": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Gets a single item by specifying the item URI.",
        "description": "This operation returns an instance of 'IdentifiableObject' type, as implemented by one of the following:<ul class=\"model-list\"><li><span>ActivityHistory</span></li><li><span>ActivityInstance</span></li><li><span>ApprovalStatus</span></li><li><span>Batch</span></li><li><span>Bundle</span></li><li><span>BusinessProcessType</span></li><li><span>Category</span></li><li><span>Component</span></li><li><span>ComponentTemplate</span></li><li><span>ExternalCategory</span></li><li><span>ExternalComponent</span></li><li><span>ExternalContainer</span></li><li><span>ExternalKeyword</span></li><li><span>Folder</span></li><li><span>Group</span></li><li><span>Keyword</span></li><li><span>MultimediaType</span></li><li><span>Page</span></li><li><span>PageTemplate</span></li><li><span>ProcessHistory</span></li><li><span>ProcessInstance</span></li><li><span>Publication</span></li><li><span>PublishTransaction</span></li><li><span>Schema</span></li><li><span>SearchFolder</span></li><li><span>StructureGroup</span></li><li><span>TargetGroup</span></li><li><span>TargetType</span></li><li><span>TemplateBuildingBlock</span></li><li><span>TridionActivityDefinition</span></li><li><span>TridionProcessDefinition</span></li><li><span>User</span></li><li><span>WorkItem</span></li></ul>\n\n",
        "operationId": "GetItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "escapedItemId",
            "in": "path",
            "description": "The URI of an item with the colon escaped by replacing it with an underscore. E.g. \"tcm_0-1-1\".",
            "required": true,
            "type": "string"
          },
          {
            "name": "useDynamicVersion",
            "in": "query",
            "description": "Loads a dynamic version (if available for the current user)",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/IdentifiableObject"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      },
      "put": {
        "tags": [
          "Items"
        ],
        "summary": "Updates an existing item with the specified item URI.",
        "description": "This operation returns an instance of 'IdentifiableObject' type, as implemented by one of the following:<ul class=\"model-list\"><li><span>ActivityHistory</span></li><li><span>ActivityInstance</span></li><li><span>ApprovalStatus</span></li><li><span>Batch</span></li><li><span>Bundle</span></li><li><span>BusinessProcessType</span></li><li><span>Category</span></li><li><span>Component</span></li><li><span>ComponentTemplate</span></li><li><span>ExternalCategory</span></li><li><span>ExternalComponent</span></li><li><span>ExternalContainer</span></li><li><span>ExternalKeyword</span></li><li><span>Folder</span></li><li><span>Group</span></li><li><span>Keyword</span></li><li><span>MultimediaType</span></li><li><span>Page</span></li><li><span>PageTemplate</span></li><li><span>ProcessHistory</span></li><li><span>ProcessInstance</span></li><li><span>Publication</span></li><li><span>PublishTransaction</span></li><li><span>Schema</span></li><li><span>SearchFolder</span></li><li><span>StructureGroup</span></li><li><span>TargetGroup</span></li><li><span>TargetType</span></li><li><span>TemplateBuildingBlock</span></li><li><span>TridionActivityDefinition</span></li><li><span>TridionProcessDefinition</span></li><li><span>User</span></li><li><span>WorkItem</span></li></ul>\n\n",
        "operationId": "Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "escapedItemId",
            "in": "path",
            "description": "The URI of an item with the colon escaped by replacing it with an underscore. E.g. \"tcm_0-1-1\".",
            "required": true,
            "type": "string"
          },
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdentifiableObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/IdentifiableObject"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      },
      "delete": {
        "tags": [
          "Items"
        ],
        "summary": "Permanently deletes an item from the system. You can delete all versions of the item or only a specified version of the item.",
        "description": "\n\n",
        "operationId": "Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "escapedItemId",
            "in": "path",
            "description": "The URI of an item with the colon escaped by replacing it with an underscore. E.g. \"tcm_1-1-1\".\r\nTo delete only a specific version of the item, include the item's version in the TCM URI. E.g. \"tcm_1-15-v5\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful and there is no content in the body of the response."
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "409": {
            "description": "The request could not be completed due to a conflict with the current state of the target resource."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      },
      "head": {
        "tags": [
          "Items"
        ],
        "summary": "Checks whether an item exists in the system based on its URI.",
        "description": "\n\n",
        "operationId": "ItemExists",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "escapedItemId",
            "in": "path",
            "description": "The URI of an item with the colon escaped by replacing it with an underscore. E.g. \"tcm_0-1-1\".",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful and there is no content in the body of the response."
          },
          "400": {
            "description": "The request data is invalid."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/item/convertWebDavUrl": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Constructs an item URI from a WebDav URL, plus optionally, a Context Repository URI and version number.",
        "description": "\n\n",
        "operationId": "ConvertWebDavUrl",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "webDavUrl",
            "in": "query",
            "description": "The WebDavUrl of the item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contextRepositoryUri",
            "in": "query",
            "description": "The URI of the Publication you want to use instead of the one used in the webDavUrl. Include this if you want the constructed URI to refer to a different context Publication.",
            "required": false,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "The version of the item.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "404": {
            "description": "The requested resource doesn't exist."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/items/bulkRead": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Gets multiple items by specifying a list of item URIs.",
        "description": "This operation returns an instance of 'IdentifiableObjectDictionary' type.\n\n",
        "operationId": "GetItems",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "itemIds",
            "in": "query",
            "description": "A list of item URIs.",
            "required": true,
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "type": "array"
          },
          {
            "name": "useDynamicVersion",
            "in": "query",
            "description": "Loads a dynamic version (if available for the current user)",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "loadFullItems",
            "in": "query",
            "description": "Determines whether full items or partially loaded items are returned.",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "additionalProperties": {
                "$ref": "#/definitions/IdentifiableObject"
              },
              "type": "object"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      },
      "post": {
        "tags": [
          "Items"
        ],
        "summary": "Gets a large number of items by specifying a list of item URIs in the body of the request.",
        "description": "This operation returns an instance of 'IdentifiableObjectDictionary' type.\n\n",
        "operationId": "GetItemsExtended",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "itemIds",
            "in": "body",
            "description": "A list of item URIs.",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "name": "useDynamicVersion",
            "in": "query",
            "description": "Loads a dynamic version (if available for the current user)",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "loadFullItems",
            "in": "query",
            "description": "Determines whether full items or partially loaded items are returned.",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "additionalProperties": {
                "$ref": "#/definitions/IdentifiableObject"
              },
              "type": "object"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/item/validatePage": {
      "post": {
        "tags": [
          "Items"
        ],
        "summary": "Validates a Page according to the Page Schema that is used.",
        "description": "This operation returns an instance of 'ValidationError' type.\n\n",
        "operationId": "ValidatePage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pageModel",
            "in": "body",
            "description": "The Page model.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "items": {
                "$ref": "#/definitions/ValidationError"
              },
              "xml": {
                "name": "ValidationError",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/items": {
      "post": {
        "tags": [
          "Items"
        ],
        "summary": "Creates an object based on a specified request model and saves it to the database. For versioned items, a check-in is performed by default.",
        "description": "This operation returns an instance of 'IdentifiableObject' type, as implemented by one of the following:<ul class=\"model-list\"><li><span>ApprovalStatus</span></li><li><span>Bundle</span></li><li><span>BusinessProcessType</span></li><li><span>Category</span></li><li><span>Component</span></li><li><span>ComponentTemplate</span></li><li><span>Folder</span></li><li><span>Group</span></li><li><span>Keyword</span></li><li><span>MultimediaType</span></li><li><span>Page</span></li><li><span>PageTemplate</span></li><li><span>Publication</span></li><li><span>Schema</span></li><li><span>SearchFolder</span></li><li><span>StructureGroup</span></li><li><span>TargetGroup</span></li><li><span>TargetType</span></li><li><span>TemplateBuildingBlock</span></li><li><span>TridionProcessDefinition</span></li><li><span>User</span></li></ul>\n\n",
        "operationId": "Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to use for the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdentifiableObject"
            }
          },
          {
            "name": "autoCheckIn",
            "in": "query",
            "description": "Indicates whether to check in the created item.",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "201": {
            "description": "The request has completed and has resulted in one or more new resources being created.",
            "schema": {
              "$ref": "#/definitions/IdentifiableObject"
            }
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "409": {
            "description": "The request could not be completed due to a conflict with the current state of the target resource."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/items/{escapedItemId}/move/{escapedDestinationId}": {
      "post": {
        "tags": [
          "Items"
        ],
        "summary": "Moves a RepositoryLocalObject from its current location to a new destination.",
        "description": "This operation returns an instance of 'RepositoryLocalObject' type, as implemented by one of the following:<ul class=\"model-list\"><li><span>Bundle</span></li><li><span>BusinessProcessType</span></li><li><span>Category</span></li><li><span>Component</span></li><li><span>ComponentTemplate</span></li><li><span>ExternalCategory</span></li><li><span>ExternalComponent</span></li><li><span>ExternalContainer</span></li><li><span>ExternalKeyword</span></li><li><span>Folder</span></li><li><span>Keyword</span></li><li><span>Page</span></li><li><span>PageTemplate</span></li><li><span>ResolvedBundle</span></li><li><span>Schema</span></li><li><span>SearchFolder</span></li><li><span>StructureGroup</span></li><li><span>TargetGroup</span></li><li><span>TemplateBuildingBlock</span></li><li><span>TridionProcessDefinition</span></li></ul>\n\n",
        "operationId": "Move",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "escapedItemId",
            "in": "path",
            "description": "The URI of an item with the colon escaped by replacing it with an underscore. E.g. \"tcm_0-1-1\".",
            "required": true,
            "type": "string"
          },
          {
            "name": "escapedDestinationId",
            "in": "path",
            "description": "The TCM URI of the destination, which can be either an organizational item or a Keyword. Escape the colon by replacing it with an underscore. E.g. \"tcm_1-1-2\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/RepositoryLocalObject"
            }
          },
          "204": {
            "description": "The request was successful and there is no content in the body of the response."
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "409": {
            "description": "The request could not be completed due to a conflict with the current state of the target resource."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/item/synchronizeWithSchema": {
      "post": {
        "tags": [
          "Schemas"
        ],
        "summary": "Synchronizes the content and metadata of a given model with its Schema.\r\nThe operation returns the synchronized model and the synchronization actions that were applied.",
        "description": "This operation returns an instance of 'SynchronizationResult' type.\n\nUsing this operation will not persist the changes made through synchronization.",
        "operationId": "SynchronizeWithSchema",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The model to synchronize.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdentifiableObject"
            }
          },
          {
            "name": "flags",
            "in": "query",
            "description": "Specifies which kind of synchronization actions to apply. If not specified, all but ApplyFilterXsltToXhtmlFields and ApplyDefaultValuesForMissingNonMandatoryFields are applied.",
            "required": false,
            "items": {
              "$ref": "#/definitions/SynchronizeFlags",
              "type": "string"
            },
            "collectionFormat": "multi",
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/SynchronizationResult"
            }
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "500": {
            "description": "There was an unexpected error while handling the request."
          }
        }
      }
    },
    "/v3.0/items/{escapedItemId}/copy/{escapedDestinationId}": {
      "post": {
        "tags": [
          "Items"
        ],
        "summary": "Copies a RepositoryLocalObject to the specified destination.",
        "description": "This operation returns an instance of 'RepositoryLocalObject' type, as implemented by one of the following:<ul class=\"model-list\"><li><span>Bundle</span></li><li><span>BusinessProcessType</span></li><li><span>Category</span></li><li><span>Component</span></li><li><span>ComponentTemplate</span></li><li><span>ExternalCategory</span></li><li><span>ExternalComponent</span></li><li><span>ExternalContainer</span></li><li><span>ExternalKeyword</span></li><li><span>Folder</span></li><li><span>Keyword</span></li><li><span>Page</span></li><li><span>PageTemplate</span></li><li><span>ResolvedBundle</span></li><li><span>Schema</span></li><li><span>SearchFolder</span></li><li><span>StructureGroup</span></li><li><span>TargetGroup</span></li><li><span>TemplateBuildingBlock</span></li><li><span>TridionProcessDefinition</span></li></ul>\n\n",
        "operationId": "Copy",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "escapedItemId",
            "in": "path",
            "description": "The URI of an item with the colon escaped by replacing it with an underscore. E.g. \"tcm_0-1-1\".",
            "required": true,
            "type": "string"
          },
          {
            "name": "escapedDestinationId",
            "in": "path",
            "description": "The TCM URI of the destination, which can be either an organizational item or a Keyword. Escape the colon by replacing it with an underscore. E.g. \"tcm_1-1-2\"",
            "required": true,
            "type": "string"
          },
          {
            "name": "makeUnique",
            "in": "query",
            "description": "Specifies whether a unique title should be generated if an item with the same title already exists in the destination.",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/RepositoryLocalObject"
            }
          },
          "204": {
            "description": "The request was successful and there is no content in the body of the response."
          },
          "400": {
            "description": "The request data is invalid."
          },
          "403": {
            "description": "The server understood the request but refuses to authorize it."
          },
          "409": {
[...]
